USE [master]
GO
/****** Object:  Database [disney]    Script Date: 27/4/2023 10:40:10 ******/
CREATE DATABASE [disney]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'disney', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\disney.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'disney_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\disney_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [disney].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [disney]
GO
/****** Object:  User [alumno]    Script Date: 27/4/2023 10:40:10 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 27/4/2023 10:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[id] [int] NOT NULL,
	[imagen] [varchar](max) NOT NULL,
	[titulo] [varchar](max) NOT NULL,
	[fecha de creación] [date] NOT NULL,
	[clasificación] [int] NOT NULL,
	[personajes asociados] [varchar](max) NULL,
 CONSTRAINT [PK_Pelicula o serie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 27/4/2023 10:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[id] [int] NOT NULL,
	[imagen] [varchar](max) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[edad] [int] NOT NULL,
	[peso] [varchar](50) NOT NULL,
	[historia] [varchar](max) NOT NULL,
	[Peliculas o series asociadas] [varchar](max) NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Pelicula] ([id], [imagen], [titulo], [fecha de creación], [clasificación], [personajes asociados]) VALUES (1, N'https://historiasdelceluloide.elcomercio.es/wp-content/uploads/2014/05/Blancanieves-cartel.jpg', N'Blancanieves y los siete enanitos', CAST(N'1937-12-21' AS Date), 7, N'')
INSERT [dbo].[Pelicula] ([id], [imagen], [titulo], [fecha de creación], [clasificación], [personajes asociados]) VALUES (2, N'https://static.wikia.nocookie.net/disney/images/2/26/PinochoDisney.jpg/revision/latest?cb=20160201132010&path-prefix=es', N'Pinocho', CAST(N'1940-02-23' AS Date), 7, N'')
INSERT [dbo].[Pelicula] ([id], [imagen], [titulo], [fecha de creación], [clasificación], [personajes asociados]) VALUES (3, N'https://upload.wikimedia.org/wikipedia/en/thumb/1/12/Fantasia-poster-1940.jpg/220px-Fantasia-poster-1940.jpg', N'Fantasía', CAST(N'1941-09-19' AS Date), 7, N'')
GO
INSERT [dbo].[Personaje] ([id], [imagen], [nombre], [edad], [peso], [historia], [Peliculas o series asociadas]) VALUES (1, N'mickey.jpg', N'Mickey', 95, N'10', N'Mickey Mouse es un personaje de dibujos animados estadounidense co-creado en 1928 por Walt Disney y Ub Iwerks. La mascota de The Walt Disney Company desde hace mucho tiempo, Mickey es un ratón antropomórfico que normalmente usa pantalones cortos rojos, zapatos amarillos grandes y guantes blancos.', N'')
INSERT [dbo].[Personaje] ([id], [imagen], [nombre], [edad], [peso], [historia], [Peliculas o series asociadas]) VALUES (2, N'pato.jpg', N'Pato Donald', 89, N'12', N'El Pato Donald es un personaje ficticio estadounidense creado por Walt Disney y el animador Dick Lundy en 1934 en nombre de Disney Studios.? Su primera aparición cinematográfica fue el 9 de junio de 1934 en forma de un pato con traje de marinero, en la película The Wise Little Hen', NULL)
GO
USE [master]
GO
